@font-face {
    src: url(../fonts/MADETOMMY.otf);
    font-family: tommy;
}
@font-face {
    src: url(../fonts/Valorant.ttf);
    font-family: valorant;
}

body {
  background-color: #f8f9fa;
  color: #515365;
  font-family: tommy;
  max-width: 100%;
}

.numcontainer {
  display: flex;
  flex-direction: row;
  flex-flow:row wrap;
  max-width: 80%;
  margin: auto;

}

.numcard {
  background-color: #1c7fe2;
  border-radius: 10px;
  
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  
  line-height: 100px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  /* background-image: url('https://daneric.dev/images/Logo.png');
  background-size: 100% 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('https://i.imgur.com/lL6tQfy.png');
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.numdetails {

}


.title {
    font-family: tommy;
    color: #3b3f5c;
}

.container {
  display: flex;
}

.valorant {
    font-family: valorant;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .325rem;
  } 
  .button:hover {
    background-color: #39853c; /* Green */
  }

  .btn-red {
    background-color: #f44336; /* Red */
  }

  .btn {
      padding: 0.4375rem 1.25rem;
      text-shadow: none;
      font-size: 14px;
      color: #3b3f5c;
      font-weight: normal;
      white-space: normal;
      word-wrap: break-word;
      transition: .2s ease-out;
      touch-action: manipulation;
      cursor: pointer;
      background-color: #f1f2f3;
      box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
      will-change: opacity, transform;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      border-radius: .25rem;
    }

    .btn:hover, .btn:focus {
    color: 3b3f5c;
    background-color: #f1f2f3;
    border-color: #d3d3d3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    }

    .btn-primary {
        color: #fff !important;
        background-color: #1b55e2 !important;
        border-color: #1b55e2;
    }

/* About section */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  margin: 50px auto;
  width: 80%;
}

.image-test {
  max-width: 33%;
  max-height: 320px;
  margin-left: 20%;
  border-radius: .5rem;
  box-shadow: 0px 0px 15px -3px #000000;
}

.text-test {
  max-width: 60%;
}

.header-text {
  font-size: 2em;
  font-family: tommy;
}

.about-text {
  flex-direction: column;
}

/* Footer */
.footer {
  padding: 10px 30px 10px 30px;
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  border-top-left-radius: 6px;
  display: flex;
}
.footer .footer-sec p {
  margin-bottom: 0;
  color: #888ea8;
  letter-spacing: 1px;
  font-size: 13px;
  margin-bottom: 0;
}

/* Card */

.card {
  display: flex;
  flex-direction: row;
  border-radius: .5rem;
  box-shadow: 0px 0px 15px -3px #000000;
  max-width: 80%;
  background-color: #4B4768;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  padding: 1.5rem;
}
.card .btn {
  max-width: 25%;
  min-width: 25%;
  text-align: center;
}

@media (max-width: 360px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .text-test {
    max-width: 80%;
  }
  .image-test {
    max-width: 80%;
    margin-left: 0;
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1c39;
  font-family: tommy;
  color: #fafafa;
  text-align: left;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  margin: auto;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  float: left;
  font-size: 17px;
  /* border-left: 3px solid #bbb; */
}

ul.topnav li a.active {
  /* background-color: #00247D; */
  color: #25d5e4;
}

ul.topnav li.social-icons {
  float: right;
}

.nav-btn {
  border-radius: 10px;
}

.nav-btn:hover:not(.active), .social-icons:hover:not(.active) {
  color: #747474;
}

.navtop {
  float: left;
  display: flex;
  list-style-type: none;
  margin-left: 30px;
}

.imgnav {
  max-width: 40px;
  max-height: 40px;
  border-radius: 5px;
  vertical-align: middle;
}

.navbar-brand-name {
  font-weight: 700;
  letter-spacing: 1px;
  color: #060818;
  font-size: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 720px) {
  ul.topnav li {
      width: 100%;
  }
  ul.topnav a {
      width: 100%;
  }
}